<ul>
    <li><a href="/">Kodu</a></li>
    <li><a href="/about">Abpout</a></li>
    <li><a href="/gallery">KRIVEL<3</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/values">VAÖLUES</a></li>
</ul>