{% extends 'partials/layout.njk'%}
{% block content %} 
<form action="/articles" method="POST">
    <label>
        Title
        <input type="text" name="title">
        </label>
        <label>
            content
            <textarea name="body"></textarea>
            </label>
            <input type="submit" value="Add">
            </form>
{% endblock %}