{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>
        Values
        </h1>

        <ol>
        <li>work?</li>
         <li>funky?</li>
          <li>jaaa</li>
           <li>kma</li>
            <li>wo?</li>
        </ol>
        
{% endblock %}